extends template

block vars
  - var progTitle = "Programme Title"
  - var unitTitle = "Unit title"
  - var pageTitle = "Page TITLE!!!"
  - var learningOutcomes = "These are the learning outcomes for this page"
  
  - var checklistItems = ['Hello', 'There', 'How', 'Are', 'You?'];

block content
  p this is where the content will go
  include ./includes/checklist.jade
