mixin checklist-default(items)

  .activity.checklist#checklist-default
      .nav
        button.next next
        button.restart BOOM!
      .items
        each item in items
          .item 
            p #{item}
          
        
      
    
  


mixin checklist-tick-and-cross(items)

.activity.checklist#checklist-default
    .nav
      button.next next
      button.restart BOOM!
    .items
      each item in items
        .item 
          p #{item}
