.topBanner
  p.programmeTitle #{progTitle}
  p.unitTitle #{unitTitle}
.titleMenuWrapper
  include menu.jade
  span.pageTitle #{pageTitle}
.outcomes
  p <strong>Learning outcomes:</strong> #{learningOutcomes}
